.item {
  display: inline-flex;
  align-items: center;
  padding: 10px;

  border: 1px solid;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.item:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.name {
  font-weight: 600;
  margin-left: 8px;
}

.iconStatus {
  margin-right: 5px;
}
